<launch>
  <rosparam file="$(find yamax_control)/config/controller.yml" command="load"/>
  <node name="controller_spawner" pkg="controller_manager"
                type="spawner" ns="yamax" output="screen"
                args="joint_state_controller"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher"
                type="robot_state_publisher"
                respawn="false" output="screen" ns="/yamax">
  </node>
</launch>
